.App {
  text-align: center;
}

table , th{
  width:500px;
  margin:auto;
  border:1px solid rgb(121, 29, 29);
  box-shadow:0 3px 3px rgb(19, 18, 18);
  padding:16px;
  text-align: center

}


.App-header{
  position: absolute;
  left: auto;
  width: 500px;
  height: auto;
  border: 3px solid rgb(23, 23, 24);
}
.bill{
  position: absolute;
  left:550px ;
  width: 500px;
  height: auto;
  border: 3px solid rgb(25, 26, 25);
}

.totalPrice ,h2{
color :red;
}

th button{
  background-color: rgb(240, 131, 131);
  padding: 10px;
  font-size: 20px;
}